apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    # configuration.konghq.com: strip-path
  name: sample-ingresses
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: sample-service
          servicePort: 80
